{% extends "panel/master.html" %}
{% load staticfiles %}
{% load plusplustag %}
{% load return_item %}

{% block title %}ارتباط با اساتید - گروه کامپیوتر دانشگاه تربت حیدریه{% endblock %}
{% block content %}

<div class="container page" role="main" dir="rtl">

        <div class="row">
            <center>
            <a id="maincontent"></a>
                <br>
                <br>
                <br>
                <p>هیچ پیامی جهت نمایش به شما وجود ندارد</p>

        </center>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>



<div class="push"><!--//--></div>
{% endblock %}