{% extends "master.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="container page" role="main" >

        <!--لیست اخبار-->
        <div class="col-md-12 news-uni component" >

            <center>
                <h1>طرح های پژوهشی رشته کامپیوتر دانشگاه تربت حیدریه</h1>
                <table class="table table-striped"  dir="rtl" >
                    <thead>
                    <tr>
                        <td>عنوان طرح</td>
                        <td>مجریان طرح</td>
                        <td>نوع طرح</td>
                    </tr>
                    </thead>
                    <tr>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</td>
                        <td>علی ناصری و حسین محمدی پور</td>
                        <td>هسته پژوهشی</td>
                    </tr>
                    <tr>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</td>
                        <td>علی ناصری و حسین محمدی پور</td>
                        <td>هسته پژوهشی</td>
                    </tr>
                    <tr>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</td>
                        <td>علی ناصری و حسین محمدی پور</td>
                        <td>هسته پژوهشی</td>
                    </tr>
                    <tr>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</td>
                        <td>علی ناصری و حسین محمدی پور</td>
                        <td>هسته پژوهشی</td>
                    </tr>
                    <tr>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</td>
                        <td>علی ناصری و حسین محمدی پور</td>
                        <td>هسته پژوهشی</td>
                    </tr>
                    <tr>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</td>
                        <td>علی ناصری و حسین محمدی پور</td>
                        <td>هسته پژوهشی</td>
                    </tr>
                </table>
            </center>
        </div>


    </div>
</div>
<div class="row">&nbsp;</div>

    {% endblock %}