{% extends "master.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="container page" role="main" >

        <!--لیست فرم ها و چارت ها-->
        <div class="col-md-12 news-uni component" >

            <center>
                <h1>اطلاعات آموزشی گروه کامیپوتر مقطع کارشناسی</h1>
                <table class="table table-striped"  dir="rtl">

                    <tr>
                        <td><a href="http://www.torbath.ac.ir/sites/default/files/%20%DA%86%D9%87%D8%A7%D8%B1%D8%AA%D8%B1%D9%85%D9%8A%20%D9%83%D8%A7%D8%B1%D8%AF%D8%A7%D9%86%D9%8A%20%D9%86%D8%B1%D9%85%20%D8%A7%D9%81%D8%B2%D8%A7%D8%B1_0.jpg"> چارت چهار ترمي كارداني نرم افزار</a></td>
                        <td>192.33 کیلوبایت</td>
                    </tr>

                    <tr>
                        <td><a href="http://www.torbath.ac.ir/sites/default/files/kardani_Jadid95.gif">چارت چهار ترمی کاردانی نرم افزار کامپیوتر</a></td>
                        <td>162.09 کیلوبایت</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.torbath.ac.ir/sites/default/files/resume.docx">رزومه</a></td>
                        <td>29.94 کیلوبایت</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.torbath.ac.ir/sites/default/files/%20%D9%BE%D8%B1%D9%88%DA%98%D9%87.doc">پروژه</a></td>
                        <td>118 کیلوبایت</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.torbath.ac.ir/sites/default/files/%20%D9%86%D9%85%D8%B1%D9%87%20%D9%BE%D8%B1%D9%88%DA%98%D9%87.doc">نمره پروژه</a></td>
                        <td>85 کیلوبایت</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.torbath.ac.ir/sites/default/files/%20%D9%83%D8%A7%D8%B1%D8%A7%D9%85%D9%88%D8%B2%D9%8A.rar">کارآموزی</a></td>
                        <td>182.9 کیلوبایت</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.torbath.ac.ir/sites/default/files/%20%D9%86%D9%85%D8%B1%D9%87%20%DA%A9%D8%A7%D8%B1%D8%A2%D9%85%D9%88%D8%B2%DB%8C.doc">نمره کارآموزی</a></td>
                        <td>83 کیلوبایت</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.torbath.ac.ir/sites/default/files/GozareshKaramoozi_0.doc">نحوه گزارش کارآموزی</a></td>
                        <td>24.5 کیلوبایت</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.torbath.ac.ir/sites/default/files/%D9%81%D8%B1%D9%85%20%DA%AF%D8%B2%D8%A7%D8%B1%D8%B4%20%D9%87%D9%81%D8%AA%D9%87%20%DA%A9%D8%A7%D8%B1%D8%A2%D9%85%D9%88%D8%B2%DB%8C.doc">گزارش هفتگی کارآموزی</a></td>
                        <td>1.51 مگابایت</td>
                    </tr>
                </table>
            </center>
        </div>


    </div>
</div>

<div class="row">&nbsp;</div>
    {% endblock %}